<?xml version="1.0"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>

    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=192.168.0.190; Database=cs; User ID=nms; Password=P@ssw0rd" providerName="System.Data.SqlClient"/>
    <!--<add name="LocalSqlServer" connectionString="Server=192.168.0.137; Database=cs; User ID=sa; Password=P@ssw0rd" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
<!--ProjectGuid: EF48A707-4BF9-491B-8254-423DCA97A051-->